@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  text-transform: lowercase;
}

body {
    background-color: white;
    font-family: More Sugar, sans-serif;
    text-transform: lowercase;
}

h1 {
  font-family: Tegaki Zatsu, sans-serif;
}

.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}       

@font-face {
  font-family: More Sugar;
  font-display: swap;
  font-weight: normal;
  src: url('./fonts/moresugar/MoreSugar-Thin.ttf');
}

@font-face {
  font-family: More Sugar;
  font-display: swap;
  font-weight: bold;
  src: url('./fonts/moresugar/MoreSugar-Regular.ttf');
}

@font-face {
  font-family: Tegaki Zatsu;
  font-display: swap;
  font-weight: normal;
  src: url('./fonts/851tegaki_zatsu_normal_0883.ttf');
}

.jp {
  font-family: Tegaki;
  font-variant: normal;
  font-weight: 200;
}
.regular {
  font-family: More Sugar;
  font-variant: normal;
  font-weight: 200;
}
