@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));  
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: Noto Sans JP, sans-serif;
}


@font-face {
  font-family: Noto Sans JP;
  font-weight: 100;
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');
}

@font-face {
  font-family: Noto Sans JP;
  font-weight: 200;
  font-display: swap;
  src: url('./fonts/NotoSansJP-VariableFont_wght.ttf');
}

@font-face {
  font-family: Noto Sans JP;
  font-weight: 300;
  font-display: swap;
  src: url('./fonts/NotoSansJP-VariableFont_wght.ttf');
}

@font-face {
  font-family: Noto Sans JP;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/NotoSansJP-VariableFont_wght.ttf');
}

@font-face {
  font-family: Noto Sans JP;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/NotoSansJP-VariableFont_wght.ttf');
}

@font-face {
  font-family: Noto Sans JP;
  font-weight: 600;
  font-display: swap;
  src: url('./fonts/NotoSansJP-VariableFont_wght.ttf');
}

@font-face {
  font-family: Noto Sans JP;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/NotoSansJP-VariableFont_wght.ttf');
}

@font-face {
  font-family: Noto Sans JP;
  font-weight: 800;
  font-display: swap;
  src: url('./fonts/NotoSansJP-VariableFont_wght.ttf');
}

@font-face {
  font-family: Noto Sans JP;
  font-weight: 900;
  font-display: swap;
  src: url('./fonts/NotoSansJP-VariableFont_wght.ttf');
}

.thin  { font-weight: 100; }
.extralight { font-weight: 200; }
.light { font-weight: 300; }
.regular { font-weight: 400; }
.medium { font-weight: 500; }
.semi-bold { font-weight: 600; }
.bold { font-weight: 700; }
.extrabold { font-weight: 800; }
.black { font-weight: 900; }